@{
    ViewBag.Title = "Home Page";
}


@Html.ActionLink("admin1", "Index", "Home", new { area = "Admin" }, null)
<p></p>
@Html.ActionLink("Contents", "Index", "Home", new { area = "Contents" }, null)

@AppDomain.CurrentDomain.SetupInformation.PrivateBinPath